#calculator-body{
    display: grid;
    width: 400px;
    height: 500px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    background-color: pink;
    margin: auto;
    border-radius: 25px;
}
.calc-btn{
    border-radius: 5px;
    background-color: white;
    font-size: 36px;
    text-align: center;
    margin: 5px;
    padding: 5px;
}
#display{
    grid-column: span 4;
    text-align: right;
}

#clear{
    /*grid-column: span 2;*/
    grid-column-start: 3;
    grid-column-end: 5;
}

#calculate{
    grid-column: span 2;
}