#calculator-body{
    display: grid;
    width: 350px;
    height: 500px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    background-color:#bfd3c1;
    margin: auto;
    padding: 5px;
    border-radius: 25px;
}
/*Button Styling*/
.calc-btn{
    border-radius: 5px;
    border: none;
    background-color: #E8F6EF;
    font-size: 36px;
    text-align: center;
    margin: 5px;
    padding: 5px;
    /*border: 2px solid #f28482;*/
}

#clear {
    border-radius: 10px;
    border: none;
    background-color: #5AA897;
    font-size: 36px;
    text-align: center;
    margin: 5px;
    padding: 5px;
}

#calculate {
    border-radius: 10px;
    border: none;
    background-color: #f6bd60;
    font-size: 36px;
    text-align: center;
    margin: 5px;
    padding: 5px;
}

.operator {
    border-radius: 5px;
    border: none;
    background-color: #FADEAF;
    font-size: 36px;
    text-align: center;
    margin: 5px;
    padding: 5px;
}

#display{
    grid-column: span 4;
    text-align: right;
}

#clear{
    grid-column-start: 3;
    grid-column-end: 5;
}

#calculate{
    grid-column: span 2;
}